.navbar {
  grid-row: 1/2;
  grid-column: 1/-1;
  align-self: start;
  width: 100%;
  height: 10rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-around;
  

  &__under {
    height: 2px;
    width: 80%;
    grid-row: 2/3;
    grid-column: 1/3;
    align-self: center;
    justify-self: center;
    background-color: #fff;
    display: none;
  }

  &__left {
    justify-self: start;
    align-self: end;
    margin-left: 7rem;
    grid-row: 1/2;
    grid-column: 1/2;
    & img {
     
    }
  }
  &__right {
    justify-self: end;
    align-self: center;
    margin-right: 9rem;

    &-items {
      display: none;
      & a {
        text-decoration: none;
        font-size: 1.7rem;
        color: #fff;
        opacity: 0.6;
        margin: 0 1rem;
        &:hover{
          opacity: 1;
        }
      }
    }
  }

  &__ham {
    position: absolute;
    top: 4rem;
    right: 10rem;
    transition: all 0.5s;
    height: 2rem;
    padding: 1rem 0.5rem 0.5rem;
    width: 3rem;
    cursor: pointer;
    z-index: 10001;

    &:hover {
      .navbar {
        &-1,
        &-2,
        &-3 {
          background-color: rgb(13, 246, 130);
        }
      }
    }
  }

  &-1 {
    background-color: #fff;
    height: 2px;
    width: 3rem;
    margin-bottom: 12px;
    transition: all 0.5s;
  }
  &-2 {
    background-color: #fff;
    height: 2px;
    width: 2rem;
    margin-bottom: 12px;
    transition: all 0.5s;
  }
  &-3 {
    background-color: #fff;
    height: 2px;
    width: 3rem;
    transition: all 0.5s;
  }
  &-4 {
    background-color: #fff;
    height: 3px;
    width: 3rem;
    transform: rotate(135deg);
    transition: all 0.5s;
  }
  &-5 {
    background-color: #fff;
    height: 3px;
    width: 3rem;
    transform: translateY(-1.5px) rotate(-135deg);
    transition: all 0.5s;
  }
  &__menu {
    height: calc(30rem + 100vh);
    width: 40rem;
    background-color: rgb(10, 10, 10);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10000;
    transition: all 0.72s;
    overflow: none;

    &-items {
      text-decoration: none;
      display: flex;
      flex-direction: column;
      margin-left: 2rem;
      margin-top: 9rem;

      & a {
        text-decoration: none;
        margin-bottom: 2rem;

        font-size: 2rem;
        color: #fff;
        opacity: 0.75;
        border-bottom: 2px solid rgb(236, 236, 236);
        width: max-content;
        padding-bottom: 0.5rem;

        &:hover {
          opacity: 1;
        }
      }
    }

    &-closed {
      height: calc(100vh);
      width: 40rem;
      background-color: rgb(43, 38, 38);
      position: absolute;
      top: 0;
      right: 0;
      z-index: 10000;
      transition: all 0.72s;
      transform: translateX(50rem);
      overflow: none;
    }
  }
}
.none {
  display: none;
}



@media (max-width: 590px) {
  .mobile__menu {
    display: inline;
  }
  .navbar {
    display: none;
  }
}
