.dashboard {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 15rem 90vh;
  background-image: url("../../assets/dashboard.jpg");
  background-position: bottom;
  background-size: cover;

  &__middle{
      grid-row: 2/3;
      background: rgba(255, 255, 255, 0.794);
      justify-self: center;
      height: 75%;
      width: 75%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 10rem 1fr 1fr 1fr ;

      &-1{
          grid-row: 1/2;
          grid-column: 1/-1;
          justify-self: center;
          font-size: 2.5rem;
          color: black;
          margin-top: 3.5rem;
          font-weight: 700;
      }
      &-2{
        justify-self: center;

        & a {
          
            text-decoration: none;
            
        
        }
      }
  }
}

#dashboard__button{
    width: 26rem;
    height: 7rem;
   
    font-size: 2rem;
}
