.login {
  display: grid;
  grid-template-columns: minmax(40rem,1fr) minmax(40rem,1fr);
  grid-template-rows: 100vh;
  background-image: url("../../assets/background2.jpeg");
  background-position: center;
  background-size: cover;
  justify-content: center;
  align-content: start;
  justify-items: center;
  align-items: center;

  &__container {
    grid-column: 2/3;
    text-align: center;
    display: grid;
    grid-template-columns: 30rem;
    justify-content: center;
    align-content: start;
    justify-items: center;
    align-items: center;
    margin-top: 3rem;
    background-color: rgba(235, 235, 235, 0.829);
    width: 30rem;
    height: 26rem;
    padding: 3rem;
    border-radius: 5px;
  }

  &__avatar {
    background: rgba(2, 18, 109, 0.993) !important;
  }
  &__header {
    margin-top: 1rem;
    margin-bottom: 0;
  }
}
